@helper MenuItem(string text, string subtext, string icon, string url, bool isExactUrlMatched = false)
{
    <li class="@Request.ActiveCssClass(url, isExactUrlMatched)">
        <a href="@Request.ResolveUrl(url)">
            <div class="maintext">
                @text
                <span class="fa fa-@icon"></span>
            </div>
            <div class="subtext">@subtext</div>
        </a>
    </li>
}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">

    <title>@((ViewBag.Title != null ? ViewBag.Title + " - " : "") + "Marek Fišera")</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.min.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/web.min.css" rel="stylesheet" />
</head>
<body>

    <nav class="navbar navbar-fixed-top" role="navigation">
        <div class="container">
            <button class="navbar-toggle">
                <span class="glyphicon glyphicon-menu-hamburger"></span>
            </button>

            <div class="my-name">
                <img src="~/Content/Images/mnau2_sq.jpg" alt="My avatar" />
                <div class="content">
                    Marek Fišera
                </div>
            </div>

            <ul class="right">
                @MenuItem("Me", "My developer's life", "graduation-cap", "~/", true)
                @MenuItem("Books", "Those I liked or don't", "book", "~/book")
            </ul>
        </div>
    </nav>

    <div class="body">
        @if (IsSectionDefined("IntroHeading") || IsSectionDefined("IntroContent"))
        {
            <div class="intro">
                <div class="container intro-content">
                    <h1>@RenderSection("IntroHeading")</h1>
                    @RenderSection("IntroContent")
                </div>
            </div>
        }
        <div class="container">
            @RenderBody()
        </div>
    </div>

    <footer>
        <div class="container">
            <div class="left">
                <span><a target="_blank" href="http://mara.neptuo.com">Marek Fišera</a> &copy; 2016</span>
                @RenderSection("FooterLeft", false)
            </div>
            <div class="right">
                @RenderSection("FooterRight", false)
            </div>
            <div class="center">
                @RenderSection("FooterCenter", false)
            </div>
            <div class="clear"></div>
        </div>
    </footer>

    <script>

        var myEmail = document.querySelector(".my-email");
        if (myEmail != null) {
            myEmail.addEventListener("click", function (e) {
                alert(
                    "To be sure that you are not robot...\n" +
                    "\n" +
                    "My email address is the current domain name where you replace first '.' (dot) by '@@' (at).\n" +
                    "\n" +
                    "Note: Take just the domain name, without protocol (http://) and any path after slash (/book, etc)."
                );

                e.preventDefault();
            });
        }

    </script>
</body>
</html>
