@model IEnumerable<BookModel>
@helper Rating(int rating)
{
    for (int i = 0; i < 5 - rating; i++)
    {
        <span class="fa fa-star-o"></span>
    }
    for (int i = 0; i < rating; i++)
    {
        <span class="fa fa-star"></span>
    }
}

<div class="folder preface">
    <div class="col-md-10">
        <h2 class="folder-heading">Preface</h2>
        <p>
            A few years back, when I read through Lord of The Rings trilogy, my passion for sci-fi and fantasy books started.
        </p>
        <p>
            Since then I read 3 to 5 books a year.
            Here is a list of those I have read with my (personal and only personal) rating.
        </p>
        <p>
            Most of them I have read in Czech, so primary names are in Czech, and so preview images, and secondary names are original.
        </p>
        <p>
            The date included with the book is a date when I have read it and all books are sorted chronologically.
        </p>
    </div>
    <div class="col-md-2">
        <h2 class="folder-heading">Stats</h2>
        <table>
            <tr>
                <td>Total</td>
                <td>@Model.Count()</td>
            </tr>
            @foreach (var year in Model.GroupBy(b => b.When.Year))
            {
                <tr>
                    <td>@year.Key</td>
                    <td>@year.Count()</td>
                </tr>
            }
        </table>
    </div>
    <div class="clear"></div>
</div>

<div class="books">
    @foreach (var book in Model)
    {
        <article class="col-md-4">
            <div class="folder">
                @if (!String.IsNullOrEmpty(book.Image))
                {
                    <div class="book-image">
                        <img src="@Request.ResolveUrl(book.Image)" title="@book.Name" alt="@book.Name" />
                    </div>
                }

                <h2 class="folder-heading">
                    <strong>@book.Name</strong>
                    <div class="original-name">@book.OriginalName</div>
                </h2>
                <div class="folder-content">
                    <div class="left date">@book.When.ToString("yyyy-MM-dd")</div>
                    <div class="right rating">
                        @Rating(book.Rating)
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
        </article>
    }
</div>
