@model IEnumerable<IGrouping<int, NodeModel>>

@section IntroHeading { My name is Marek Fišera }
@section IntroContent
{
    <p>
        I am a freelancer (currently available for hire). <br />
        My specialization is Javascript and C#. <br />
        My passion is architecture, naming and structuring code.
    </p>
    <p class="social">
        <a target="_blank" href="https://github.com/maraf">
            <span class="fa fa-github"></span>
            source codes
        </a>
        <a target="_blank" href="https://twitter.com/marekfisera">
            <span class="fa fa-twitter"></span>
            thoughts and shares
        </a>
        <a href="#my-email" class="my-email">
            <span class="fa fa-envelope-o"></span>
            email
        </a>
    </p>
}

<div class="timeline">
    @{
        var index = 1;
    }
    @foreach (var year in Model)
    {
        <div class="year">@year.Key</div>

        foreach (var node in year)
        {
            index++;
            <div class="node @(index % 2 == 0 ? "left" : "right")">
                <div class="node-folder">
                    <div class="folder">
                        <div class="node-row">
                            <div class="date">
                                <div class="day">@node.When.Day</div>
                                <div class="month">@node.When.ToString("MMM")</div>
                            </div>
                            <div class="node-content">
                                @if (node.Title != null)
                                {
                                    <div class="folder-heading">@node.Title</div>
                                }

                                @if (node.Description != null)
                                {
                                    <div class="folder-content">@Html.Raw(node.Description.ContentToHtml())</div>
                                }
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>
                </div>
            </div>
        }
    }

    <div class="clear"></div>
</div>